<%=@user.errors.full_messages%>

<h1>I am the new shit</h1>

<h3>A form using almost all html!</h3>

<form action="/users" method="post" accept-charset="UTF-8">
	<input type="hidden" name="authenticity_token" value="<%=
																								form_authenticity_token %>">
	<label>Username</label>
	<input type="text" name="user[username]" placeholder="Username">
	<label>Email</label>
	<input type="text" name="user[email]" placeholder="email@example.com">
	<label>Password</label>
	<input type="password" name="user[password]" placeholder="Make it a good one!">
	<input type="submit" value="Submit">
</form>

<h3>Railsy Forms with #form_tag</h3>

<%=form_tag '/users', method: :post%>
	<%=utf8_enforcer_tag%>
	<%=label_tag 'username'%>
	<%=text_field_tag 'username'%>
	<%=label_tag 'email'%>
	<%=text_field_tag 'email'%>
	<%=label_tag 'password'%>
	<%=password_field_tag 'password'%>
	<%=submit_tag 'Create'%>

<h3>Railsy-er Forms with #form_for</h3>

<%=form_for @user do |f|%>
	<%=f.label 'username'%>
	<%=f.text_field :username, placeholder: 'Your user name here'%>
	<%=f.label :email%>
	<%=f.text_field :email%>
	<%=f.label :password%>
	<%=f.password_field :password%>
	<%=f.submit%>
<%end%>